body{
  
    font-size: larger;
}

.banner{
    width: 100%;
    min-height: 100vh;
    background: url('/public/images/planoFundo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
 
  
}

.shadowBanner{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.452);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid black;
}

.loginBox{
    width: 19%;
    height: 55%;
    background-color: #FCEEEE;
    border-radius: 15px;
    padding: 15px;
}

.loginBoxTopSide{
    width: 100%;
    height: 35%;
    background: url('/public/images/imageFundo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30vh;
}

.loginBoxBottomSide{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
   
}

.loginBoxForm{
    width: 95%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.3vh;
}

.loginBoxForm .spanLogin{
    width: 100%;
    display: flex;
    background-color: #ffff;
    border-radius: 10px;
}

.loginBoxForm span .div1{
    width: 20%;

    background-color: #ffff;
    background: url('/public/images/do-utilizador.png');
    background-position: center;
    background-size: 4vh;
    background-repeat: no-repeat;
}

.loginBoxForm span .div2{
    width: 20%;

    background-color: #ffff;
    background: url('/public/images/cadeado.png');
    background-position: center;
    background-size: cover;
    background-size: 4vh;
    background-repeat: no-repeat;
}

.loginBoxForm span input{
    width: 80%;
    height: 2vh;
    border: none;
    font-size: 1.5vh;
    background-color: #ffff;
    outline: none;
    padding: 15px;
    border-radius: 10px;
}

.loginBoxForm Button{
    width: 100%;
    height: 5vh;
    border: none;
    font-size: 1.5vh;
    color: white;
    background-color: #E7AA73;
    border-radius: 5px;
}

.loginBoxForm b{
    font-size: 1.3h;
    margin-left: 55%;
    color: blue;
    margin-top: -10%;
}